<form #f="ngForm" (ngSubmit)="onSubmit(f)">
	<div class="form-group">
		<label for="content">Content</label>
		<input type="text" id="content" name="content" ngModel class="form-control">
	</div>
	<button class="btn btn-primary" type="submit">Submit</button>
</form>