<div id="app">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a href="#" [routerLink]="['/']">Quotes</a>
				<a href="#" [routerLink]="['/new-quote']">Add new quote</a>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>
